language: elixir

elixir:
  - 1.8

otp_release:
  - 20.1

env:
  global:
    - MIX_ENV=test

notifications:
  email: false

sudo: false

services:
  - postgresql

before_script:
  - psql -c 'create database test;' -U postgres

script:
  - mix test


after_script:
   - MIX_ENV=docs mix deps.get
   - MIX_ENV=docs mix inch.report