body {
	font-family: 'Merriweather', serif;
	background-color: #ededed;
	color: #212121;
	padding: 1.618rem;
	line-height: 1.618;
	font-size: 16px;
}

.content-container {
	padding: 1.618rem 3.236rem;
	max-width: 48.54rem;
	margin: 3.236rem auto;
	background-color: #fff;
	box-shadow: 0 0 12px 6px rgba(0,0,0,0.05);
	border-radius: .269666667rem;
}

@media (prefers-color-scheme: dark) 
{
	html {
		filter: invert(100%);
	}
}