<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>
      Licenses
    </title>
  </head>
  <body>
    <main id="main"></main>
    <br>
    <div id="users"> </div>
    <form>
      <br>
      <br>
      <input type="submit" value="list users" id="button">
    </form>
    <script type="application/javascript" defer="defer" src="application.js"></script>
  </body>
</html>